[Desktop Entry]
Name=Fuji-Sparrow
Comment=Fuji-Sparrow
Exec=/opt/fuji-sparrow/bin/Fuji-Sparrow %U
Icon=/opt/fuji-sparrow/lib/Fuji-Sparrow.png
Terminal=false
Type=Application
Categories=Fuji-Sparrow;
MimeType=application/psbt;application/bitcoin-transaction;application/pgp-signature;x-scheme-handler/bitcoin;x-scheme-handler/auth47;x-scheme-handler/lightning
StartupWMClass=Fuji-Sparrow
SingleMainWindow=true
